<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Mark Susol, Staff Data Scientist">
    <meta name="author" content="Mark Susol">

    <title>Mark Susol, Staff Data Scientist</title>

    <!-- Bootstrap Core CSS -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="index.html">Mark Susol</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="susol_mark_resume.pdf">Resume</a>
                    </li>
                    <!--
                    <li>
                        <a href="post.html">Sample Post</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    -->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Mark Susol</h1>
                        <hr class="small">
                        <span class="subheading">Data Engineering • Data Visualization • Data Science</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <!--
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Man must explore, and this is exploration at its greatest
                        </h2>
                        <h3 class="post-subtitle">
                            Problems look mighty small from 150 miles up
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Mark Susol</a> on September 24, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                        </h2>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Mark Susol</a> on September 18, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Science has not yet mastered prophecy
                        </h2>
                        <h3 class="post-subtitle">
                            We predict too much for the next year and yet far too little for the next ten.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Mark Susol</a> on August 24, 2014</p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post.html">
                        <h2 class="post-title">
                            Failure is not an option
                        </h2>
                        <h3 class="post-subtitle">
                            Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Mark Susol</a> on July 8, 2014</p>
                </div>
                <hr>
            -->
                <!-- Pager -->
            <!--
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
            -->
            <div id="professional-experience" class="section level3">
                <h4>PROFESSIONAL EXPERIENCE</h4>
                <p>
                    <strong>Data Infrastructure Engineer,</strong> September 2015 – Present<br/>
                    <strong>Google Inc., Mountain View, CA</strong>
                </p>
                <p>
                    <strong>Software Engineer,</strong> September 2013 – September 2015<br/>
                    <strong>Cognizant Technology Solutions, San Ramon, CA</strong>
                </p>

                <ul>
                    <strong>Cloudfire Platform Engineering</strong> at Symantec Global HQ (Mountain View, CA)
                    <ul>
                        <li>Developed Django app/dashboard with REST API for displaying CPE Service Health Status and Metrics.
                        </li>
                    </ul>
                </ul>
                <ul>
                    <strong>gTech Engineering Business Intelligence</strong> at Google Global HQ (Mountain View, CA)
                    <ul>
                        <li>Developed software in Javascript, Python and Go using Test Driven Development (TDD).</li>
                        <li>Conversion of operational ETL pipeline from Python workflow to Pipewrench (PatchPanel) workflow.
                        </li>
                        <li>Added, Modified, or Deprecated multiple ETL processes to include MapReduce in Python and Go.</li>
                        <li>Enhanced Third Party data through Exploratory Data Analysis (EDA) using Google search in ETL
                            pipeline.
                        </li>
                        <li>Conversion of operational ETL binaries from Sawzall to Go lang (~10k lines of code).</li>
                        <li>Build internal Business Intelligence tools using Google’s App Engine integrated with Google Data
                            Services.
                        </li>
                        <li>Developed visualization dashboards using Aplos and Google’s Dashboard for ETL pipeline quality
                            monitoring.
                        </li>
                        <li>Experienced with Google’s internal bug tracking, code review, and version control software for each
                            project.
                        </li>
                        <li>Worked directly with Third Party data vendors to establish FTP acquisition and ETL pipeline data
                            importation.
                        </li>
                    </ul>
                </ul>
                <p>
                    <strong>Software Engineer,</strong> February 2012 – September 2013<br/>
                    <strong>REI Systems, Sterling, VA</strong>
                </p>
                <ul>
                    <strong>Enterprise System Development Office (ESDO)</strong> at US Department of Homeland Security (District
                    of Columbia)
                    <ul>
                        <li>Supporting the 13 federal agencies inclusive of DHS in Drupal
                            Website-Content-Management-as-a-Service (WCMaaS)
                        </li>
                        <li>Deploying and maintaining Testing, Staging and Production environments on the CGI Federal Cloud.
                        </li>
                        <li>Experienced with continuous integration systems (Bamboo) and version control/management (Git).</li>
                        <li>Onboarding new tenant technologies through linux server installation and configuration (Tomcat,
                            MongoDB, Node.js)
                        </li>
                        <li>Daily operations and maintenance support of tenants through JIRA issue tracking software.</li>
                        <li>Working remotely from REI office with travel to DHS HQ, Daily SCRUM and tenant/consultant meetings
                            by phone.
                        </li>
                    </ul>
                </ul>
                <ul>
                    <strong>GovDashboard</strong>, Software-as-a-Service (SaaS) for Business Intelligence Visualizations.
                    <ul>
                        <li>Development of open source SaaS for REI’s performance analysis tool extending the core Drupal CMS
                            platform.
                        </li>
                        <li>Developed OOP software in Python for Predictive Analytics; Logistic &amp; Multivariate Linear
                            Regression Regression.
                        </li>
                        <li>Developed interactive data visualizations using AJAX, Drupal’s restAPI, HighCharts and D3.js
                            graphing libraries.
                        </li>
                        <li>Developed custom drupal module for FISMA security policies for REI’s federal agency sites.</li>
                        <li>Experienced with continuous integration systems (Hudson) and version control/management
                            (Subversion).
                        </li>
                    </ul>
                </ul>
                <p>
                    <strong>Web Developer - Owner,</strong> July 2003 – January 2012<br/>
                    <strong>dba Ultimate Creative Media, Frederick, MD</strong>
                </p>
                <ul>
                    <li>Founded a marketing business for the development of advertising media for small businesses.<br/></li>
                    <li>Designed business identities and media presence through a partnership with experienced Graphic Artist.
                    </li>
                    <li>Developed and maintained business websites for information, e-commerce, forums, and blogging.</li>
                    <li>Provided website hosting services and maintenance for business websites including HTTPS.</li>
                    <li>Deployed, administered and troubleshot Linux (SuSE) production server for large personal phpBB site.
                    </li>
                </ul>
                <p>
                    <strong>Web Developer - Owner,</strong> January 2000 – December 2011<br/>
                    <strong>dba UltimateDressage.com, Frederick, MD</strong>
                </p>
                <ul>
                    <li>Founded a phpBB forum for Dressage enthusiasts that has grown into one of the largest available social
                        communities.
                    </li>
                    <li>Developed custom modifications allowing for subscriptions based registration and classified
                        advertising.
                    </li>
                    <li>Social Media Banner Ad advertising deployed using OpenX ad server integrated with phpBB.</li>
                    <li>Installation and remote maintenance of Linux based (SuSE) production server through collocation.</li>
                </ul>
            </div>
            <div id="professional-development" class="section level4">
                <h4>PROFESSIONAL DEVELOPMENT</h4>
                <p> Meetup: Data Science for Sustainability, Big Data Developers Silicon Valley, Silicon Valley Big Data
                    Science, 2014-2015<br/>
                    Meetup: Data Science DC, Data Visualization DC, Hadoop-DC, NOVA-Python, Statistical Programming DC,
                    2013<br/>
                    GitHub Repositories: Study and Development Projects <a href="https://github.com/msusol">https://github.com/msusol</a>,
                    2013-2015<br/>
                    Coursera: <strong>Regression Models</strong>, Brian Caffo, PhD, Roger D. Peng, PhD, Jeff Leek, PhD, Johns
                    Hopkins University, 2015<br/>
                    Coursera: <strong>Getting and Cleaning Data</strong>, Roger D. Peng, Jeff Leek, &amp; Brian Caffo, Johns
                    Hopkins University, 2014<br/>
                    Coursera: <strong>Exploratory Data Analysis</strong>, Roger D. Peng, Jeff Leek, &amp; Brian Caffo, Johns
                    Hopkins University, 2014<br/>
                    Coursera: <strong>R Programming</strong>, Roger D. Peng, Jeff Leek, &amp; Brian Caffo, Johns Hopkins
                    University, 2014<br/>
                    Coursera: <strong>Algorithms: Design and Analysis</strong>, Part 1, by Tim Roughgarden, Stanford University,
                    2014<br/>
                    Coursera: <strong>Introduction to Data Science</strong>, by Bill Howe, University of Washington, 2013<br/>
                    Coursera: <strong>Machine Learning</strong>, by Andrew Ng, Stanford University, 2013</p>
            </div>
            <div id="volunteer-experience" class="section level4">
                <h4>VOLUNTEER EXPERIENCE</h4>
                <p>
                    <strong>Web Developer - Board of Directors, </strong> January 2000 – December 2005<br/>
                    <strong>CDCTA - 501(c)(3), Culpepper, VA</strong></p>
                <ul>
                    <li>Responsible for the design and development of the organization’s website using PHP &amp; MySQL
                        technologies.
                    </li>
                    <li>Developed an extensive custom CMS allowing each board member to control website content through user
                        authentication.
                    </li>
                    <li>Additionally developed e-mail based marketing and e-newsletter program through the CMS programming.</li>
                    <li>Awarded “Volunteer of the Year” in 2005 for these contributions to the organization.</li>
                </ul>
            </div>
            <div id="education" class="section level4">
                <h4>EDUCATION</h4>
                <ul>
                    <li>Masters of Science, Applied Physics 1995 : University of Maryland Baltimore County</li>
                    <li>Bachelor of Arts, Physics 1992 : University of Maryland Baltimore County</li>
                </ul>
            </div>
            <div id="publications" class="section level4">
                <h4>PUBLICATIONS</h4>
                <ul>
                    <li>Bakhshai A, Soika V, Susol MA, Takacs L. J Solid State Chem 2000;153:371.</li>
                    <li>Takacs L, Susol MA. J Solid State Chem 1996;121:394.</li>
                    <li>Takacs L, Susol MA. Mater Sci Forum 1996;225-227:559.</li>
                    <li>Susol MA. MS thesis, Univ. Maryland, Baltimore County, 1995.</li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/gDataRanger">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/marksusol">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/msusol">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">marksusol@gmail.com</p>
                    <p class="copyright text-muted">Copyright &copy; Mark Susol 2016</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

</body>

</html>
